.navbar-brand{
  display: flex;
}
body{
  display: flex;
  font-family: 'Product Sans';
}
.navbar{
  height: 100vh;
  flex-direction: column;
  width: 10vw;
}
.Profile__Photo img{
  width: 40px;
}

.form__add__post{
  display: flex;
}

.navbar .nav-link img{
  width: 24px;
}

.button__deconnexion{
  display: flex;
  flex-direction: column;
  width: 35px;
  height: 35px;
  background-color: #2C3C54;
  border: solid 1px #507DC1;
  position: fixed;
  right: 10vh;
  top: 11vh;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center; 
}
.button__deconnexion img{
  width: 15px;
  display: block;
  margin: auto;
}


.navbar   ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  background-color: #2C3C54;
  align-items: center;
}
.container{
  min-width: 761px;
  width: 60vw;
  padding-left: 10vw;
}
a{
  color: aliceblue;
  text-decoration: none;
}
form div{
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  width: 100%;
}
/* 
form div button{
  
};

form div .buttons__add{
  height: 33px;
}; */

#form_title{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  height: 50px;
  border-radius: 10px;
  border: solid #507dc1 1px;
  box-sizing: border-box;
  padding-left: 30px;
  font-size: 18px;
}

::placeholder {
  font-size: 18px;
  color: #BABABA;
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.login__title {
  font-family: "Product Sans";
  font-size: 48px;
  padding-bottom: 25px;
}

.login__dp {
  width: 128px;
  padding-bottom: 25px;
}

.login__button {
  display: flex;
  width: 280px;
  height: 50px;
  text-align: center;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
  transition: 0.2s ease-in-out;
  margin-bottom: 25px;
}

.login__button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.login__button::placeholder {
  font-family: "Product Sans";
  font-size: 16px;
}

.login__linkedin {
  cursor: pointer;
  width: 280px;
  height: 50px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  background-color: #0e76a8;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
  margin-bottom: 25px;
}

.login__linkedin__text {
  font-size: 16px;
  font-family: "Product Sans";
  font-weight: bold;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.login__submit {
  cursor: pointer;
  font-size: 16px;
  font-family: "Product Sans";
  width: 140px;
  height: 50px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
  margin-bottom: 25px;
}

.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

.register__title {
  font-family: "Product Sans";
  font-size: 48px;
  padding-bottom: 25px;
}

.register__dp {
  width: 128px;
  padding-bottom: 25px;
}

.register__button {
  display: flex;
  width: 280px;
  height: 50px;
  text-align: center;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
  transition: 0.2s ease-in-out;
  margin-bottom: 25px;
}

.register__button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.register__button::placeholder {
  font-family: "Product Sans";
  font-size: 16px;
}

.register__linkedin {
  cursor: pointer;
  width: 280px;
  height: 50px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  background-color: #0e76a8;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
  margin-bottom: 25px;
}

.register__linkedin__text {
  font-size: 16px;
  font-family: "Product Sans";
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.register__submit {
  cursor: pointer;
  font-size: 16px;
  font-family: "Product Sans";
  width: 140px;
  height: 50px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
  margin-bottom: 25px;
}
